body {
  margin: 0;
  background-color: rgb(3, 22, 30);
  cursor: default;
  overflow-x: hidden;
}

ul {
  padding: 0;
}

p {
  margin: 0;
}

html {
  font-family: 'Gilroy';
  font-style: normal;
  scroll-behavior: smooth;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

