.booking {
  position: relative;
  background-image: url(../images/booking.png);
  height: 600px;


  @include onMobile {
    background-position: center;
    height: max-content;
  }

  &__text {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 40px;

    @include onMobile {
      margin-bottom: 30px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 1fr;


    @include onMobile {
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr;
      margin: 0;
    }
  }

  &__info {
    font-size: 40px;
    line-height: 46px;
    color: #00FFA3;
  }
}
