.button {
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  gap: 10px;
  width: 286px;
  height: 59px;

  background-color: #00D8A4;
  box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
  border-radius: 20px 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #02f5bc;
  }

  &:active {
    background-color: #037459;
  }
}
