.karting {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__vector {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
  }

  &__content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    gap: 20px;

    @include onMobile {
      display: none;
    }
  }
}
